<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap" rel="stylesheet">

{%- if page.title -%}
<title>{{ page.title }}</title>
{%- else -%}
<title>{{ site.title }}</title>
{%- endif -%}

<link rel="stylesheet" href="{{ '/cssjs/main.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/cssjs/enhanced-styles.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/cssjs/cherry-storm.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/cssjs/password-protection.css' | relative_url }}">

{% if page.custom_css %}
{% for sheet in page.custom_css %}
<link rel="stylesheet" href="{{ '/cssjs/' | append: sheet | append: '.css' | relative_url }}">
{% endfor %}
{% endif %}
</head>
