<div class="enhanced-navbar">
  <div class="main-title center-content">
    <span class="shreya">Shreya</span>
    &
    <span class="kaito">Kaito</span>
  </div>
  
  <div class="nav-tabs single-row">
    <div class="tab {% if page.url == '/' or page.url == '/index.html' %}current-tab{% endif %}">
      <a href="{{ site.baseurl }}/" class="nav-link home-link"> Home </a>
    </div>
    
    <div class="tab {% if page.title == 'Event Schedule' %}current-tab{% endif %}">
      <a href="{{ site.baseurl }}/events" class="nav-link">Events</a>
    </div>
    
    <div class="tab {% if page.title == 'Travel Information' %}current-tab{% endif %}">
      <a href="{{ site.baseurl }}/travel-info" class="nav-link">Travel Info</a>
    </div>
    
    <div class="tab {% if page.title == 'Recommendations in Bangalore' %}current-tab{% endif %}">
      <a href="{{ site.baseurl }}/recos" class="nav-link">Recommendations</a>
    </div>
    
    <div class="tab {% if page.title == 'Q&A' %}current-tab{% endif %}">
      <a href="{{ site.baseurl }}/qa" class="nav-link">Q&A</a>
    </div>
    
    <div class="tab {% if page.title == 'Gallery' %}current-tab{% endif %}">
      <a href="{{ site.baseurl }}/gallery" class="nav-link">Gallery</a>
    </div>
    
    <div class="tab {% if page.title == 'RSVP' %}current-tab{% endif %}">
      <a href="{{ site.baseurl }}/rsvp" class="nav-link">RSVP</a>
    </div>
  </div>
</div>
