<navbar class="enhanced-navbar">
    <div class="nav-home">
        <a href="{{ '/' | relative_url }}">
            <span class="shreya">Shreya</span>
            &
            <span class="kaito">Kaito</span>
        </a>
    </div>
    <div class="nav-tabs single-row">
        <div class="tab {% if page.url == '/' or page.url == '/index.html' %}current-tab{% endif %}">
            <a href="{{ '/' | relative_url }}"> Home </a>
        </div>
        <div class="nav-item tab {% if page.url == '/tabs/events.html' %}current-tab{% endif %}">
            <a href="{{ '/tabs/events.html' | relative_url }}">Events</a>
        </div>
        <div class="nav-item tab {% if page.url == '/tabs/travel-info.html' %}current-tab{% endif %}">
            <a href="{{ '/tabs/travel-info.html' | relative_url }}">Travel Info</a>
        </div>
        <div class="nav-item tab {% if page.url == '/tabs/recos.html' %}current-tab{% endif %}">
            <a href="{{ '/tabs/recos.html' | relative_url }}">Recommendations</a>
        </div>
        <div class="nav-item tab {% if page.url == '/tabs/qa.html' %}current-tab{% endif %}">
            <a href="{{ '/tabs/qa.html' | relative_url }}">Q&A</a>
        </div>
        <div class="nav-item tab {% if page.url == '/tabs/gallery.html' %}current-tab{% endif %}">
            <a href="{{ '/tabs/gallery.html' | relative_url }}">Gallery</a>
        </div>
        <div class="nav-item tab {% if page.url == '/tabs/rsvp.html' %}current-tab{% endif %}">
            <a href="{{ '/tabs/rsvp.html' | relative_url }}">RSVP</a>
        </div>
    </div>
</navbar>
