.rain-controls {
    margin-top: 10px;
    z-index: 1;
    float:right;
  }
  #interact-toggle {
    /* pointer-events: auto; */
    font-size: 40pt;
    border: none;
    opacity: 50%;
    filter: grayscale(1);
    background-color: transparent;
    color:gray;
  }
  #interact-toggle.active{
    /* filter: */
    color: gold;
    filter: none;
    transform: scaleX(-1);
  }
  
  @media only screen and (max-width: 768px) {
    /* .hex-wrapper:nth-child(2) {
        display: none;
    } */
    .fullpagewidth {
        /* pointer-events: none; */
    }
    #interact-toggle {
        display: none;
    }
    .hex-wrapper {
        --imgwidth : calc(33vw - 2* var(--hex-spacing));
        --imgheight: 37vw;
        /* --he */
    }
  }
  
  